<!DOCTYPE html>
<html class="no-js" lang="">
    <head>
        <meta charset="utf-8">
        <meta http-equiv="x-ua-compatible" content="ie=edge">
        <title>Contact Page || Lookcare</title>
        <meta name="description" content="">
        <meta name="viewport" content="width=device-width, initial-scale=1">

        <!-- Favicon
		============================================ -->
		<link rel="shortcut icon" href="img/favicon.ico" type="image/x-icon">        

 		<!-- CSS  -->
		<link href='https://fonts.googleapis.com/css?family=Poppins:400,300,500,600,700' rel='stylesheet' type='text/css'>
		<!-- Bootstrap CSS
		============================================ -->      
        <link rel="stylesheet" href="css/bootstrap.min.css">
        
		<!-- owl.carousel CSS
		============================================ -->      
        <link rel="stylesheet" href="css/owl.carousel.css">
        
		<!-- owl.theme CSS
		============================================ -->      
        <link rel="stylesheet" href="css/owl.theme.css">
           	
		<!-- owl.transitions CSS
		============================================ -->      
        <link rel="stylesheet" href="css/owl.transitions.css">
        
		<!-- font-awesome.min CSS
		============================================ -->      
        <link rel="stylesheet" href="css/font-awesome.min.css">
        
 		<!-- animate CSS
		============================================ -->         
        <link rel="stylesheet" href="css/animate.css">
 		<!-- meanmenu CSS
		============================================ --> 		
        <link rel="stylesheet" href="css/meanmenu.min.css">
		
 		<!-- normalize CSS
		============================================ -->        
        <link rel="stylesheet" href="css/normalize.css">
 		<!-- fancyBox 
		============================================ -->         
        <link rel="stylesheet" href="css/jquery.fancybox.css">         
        <!-- main CSS
		============================================ -->          
        <link rel="stylesheet" href="css/main.css">
        
        <!-- style CSS
		============================================ -->          
        <link rel="stylesheet" href="style.css">
        
        <!-- responsive CSS
		============================================ -->          
        <link rel="stylesheet" href="css/responsive.css">
        
        <script src="js/vendor/modernizr-2.8.3.min.js"></script>
    </head>
    <body>
        <!--[if lt IE 8]>
            <p class="browserupgrade">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a> to improve your experience.</p>
        <![endif]-->
    <!--Start header  area -->  
	<header>
		<!--Start header top  area -->
		<div class="header_top">
			<div class="container">
				<div class="row">
					<div class="col-lg-6 col-md-6 col-sm-12">
						<div class="top_menu">
							<ul>
								<li><a href="myaccount.html"><i class="fa fa-cog"></i> Account <i class="fa fa-angle-down"></i> </a>
									<ul>
										<li><a href="myaccount.html">My Account</a></li>
										<li><a href="myaccount.html">My wishlist</a></li>
										<li><a href="cart.html">My Cart</a></li>
										<li><a href="checkout.html">CheckOut</a></li>
										<li><a href="myaccount.html">Log In</a></li>
									</ul>								
								</li>
								<li><a href="myaccount.html"><i class="fa fa-heart-o"></i> wishlist</a></li>
								<li><a href="checkout.html"><i class="fa fa-check-square-o"></i> CheckOut  </a></li>
								<li><a href="myaccount.html"><i class="fa fa-lock"> </i> Login </a>						
								</li>
							</ul>
						</div>							
					</div>
					<div class="col-lg-6 col-md-6 col-sm-12">
						<div class="top_menu_right">
							<ul class="pull-right">
								<li><a href="#"><i class="fa fa-globe"></i> English <i class="fa fa-angle-down"></i></a>
									<ul>
										<li><a href="#">English </a></li>
										<li><a href="#">French </a></li>
										<li><a href="#">Bangla </a></li>
										<li><a href="#">German </a></li>
									</ul>								
								</li>
								<li><a href="#" class="last-child"><i class="fa fa-money"></i> USD <i class="fa fa-angle-down"></i></a>
									<ul>
										<li><a href="#">GBP </a></li>
										<li><a href="#">EUR </a></li>
										<li><a href="#">USD </a></li>
									</ul>								
								</li>
							</ul>
						</div>
					</div>
				</div>
			</div>
		</div>
		<!--end header top  area -->
		<!--Start header mid  area -->
		<div class="header_mid">
			<div class="container">
				<div class="row">
					<div class="col-md-3 col-lg-3">
						<div class="logo"><a href="index.html"><img src="img/logo.png" alt="" /></a></div>
					</div>
					<div class="col-md-5 col-lg-6">
						<div class="search">
							<form action="#">
								<div class="input_search">
									<input type="text" class="form-control form-round" placeholder="Enter Keyword To Search">
									<span class="button_con">
										<button type="button"><i class="fa fa-search"></i></button>
									</span>
								</div><!-- /input-group -->
							</form>
						</div>
					</div>
					<div class="col-md-4 col-lg-3 text_c">
						<div class="shoping_cart_area">
							<div class="cart_shoping">
								<a class="cartbox" href="">
									<span class="my-cart">2</span>
									<span class="title-cart">Shopping cart:</span>
									<span class="pricet">$330.00</span>									
								</a>
								<div class="scartdrop">
									<div class="header-cart-hover">
									   <ul class="header-cart-products">
											<li>
												<div class="image"><a href="#"><img alt="cart item" src="img/1.jpg"></a></div>
												<div class="content fix"><a href="#">Cras neque metus</a>
													<span class="price">1 x <b class="blod">$130.00</b></span>
												</div>
												<div class="ptop">
													<a href=""><i class="fa fa-pencil delete pancil"></i></a>
													<a href=""><i class="fa fa-times delete"></i></a>
												</div>											 
											</li>
											<li>
												<div class="image"><a href="#"><img alt="cart item" src="img/1.jpg"></a></div>
												<div class="content fix"><a href="#">Cras neque metus</a>
												<span class="price">2 x <b class="blod">$230.00</b></span></div>
												<div class="ptop">
													<a href=""><i class="fa fa-pencil delete pancil"></i></a>
													<a href=""><i class="fa fa-times delete"></i></a>
												</div>											 
											</li>
									   </ul>
									   <div class="total-price"><h3>SubTotal: <span>$390.00</span></h3></div>	
									   <div class="header-cart-action">
											<a href="cart.html"><span>View Cart</span></a>
											<a href="checkout.html"><span>Check Out</span></a>
									   </div>
									</div>
								</div>
							</div>
						</div>
					</div>					
				</div>
			</div>
		</div>
		<!--Start header mid  area -->
		<!--Start header nav  area -->
		<div class="header_nav">
			<div class="container">
				<div class="row">
					<div class="col-lg-12 col-md-12 col-sm-12">
						<nav class="main_nemu main_nemu_border">
							<ul id="menu">
								<li><a href="index.html">Home</a>
									<ul class="sub_menu">
										<li><a href="index.html">Home 1</a></li>
										<li><a href="index-2.html">Home 2</a></li>
										<li><a href="index-3.html">Home 3</a></li>
										<li><a href="index-4.html">Home 4</a></li>
									</ul>
								</li>
								<li><a href="shop.html">women</a>
									<div class="megamenu longwidth ">
										<div class="mega">
											<h2><a href="shop.html">Dresses</a></h2>
											<a href="shop.html">Cocktail</a>
											<a href="shop.html">Day</a>
											<a href="shop.html">Evening</a>
											<a href="shop.html">Sports</a>
											<a href="shop.html">jeans</a>
										</div>
										<div class="mega">
											<h2><a href="shop.html">Cloth</a></h2>
											<a href="shop.html">Sports</a>
											<a href="shop.html">run</a>
											<a href="shop.html">Evening</a>
											<a href="shop.html">sandals</a>
											<a href="shop.html">Books</a>
										</div>
										<div class="mega">
											<h2><a href="shop.html">Shoes</a></h2>
											<a href="shop.html">Blazers</a>
											<a href="shop.html">table</a>
											<a href="shop.html">coats</a>
											<a href="shop.html">kids</a>
											<a href="shop.html">evening</a>
										
										</div>
										<div class="mega">
											<div class="post_ima"><a href="shop.html"><img src="img/block-menu.jpg" alt="" /></a></div>										
										</div>
									</div>								
								</li>
								<li><a href="shop.html">men</a>
									<div class="megamenu men_longwidth">
										<div class="mega">
											<h2><a href="shop.html">Dresses</a></h2>
											<a href="shop.html">Cocktail</a>
											<a href="shop.html">Day</a>
											<a href="shop.html">Evening</a>
											<a href="shop.html">Sports</a>
											<a href="shop.html">jeans</a>
										</div>
										<div class="mega">
											<h2><a href="shop.html">Cloth</a></h2>
											<a href="shop.html">Sports</a>
											<a href="shop.html">run</a>
											<a href="shop.html">Evening</a>
											<a href="shop.html">sandals</a>
											<a href="shop.html">Books</a>
										</div>
										<div class="mega">
											<h2><a href="shop.html">Shoes</a></h2>
											<a href="shop.html">Blazers</a>
											<a href="shop.html">table</a>
											<a href="shop.html">coats</a>
											<a href="shop.html">kids</a>
											<a href="shop.html">evening</a>										
										</div>
										<div class="mega">
											<h2><a href="shop.html">Bands</a></h2>
											<a href="shop.html">Platinum Necklaces</a>
											<a href="shop.html">Gold Ring</a>
											<a href="shop.html">coats</a>
											<a href="shop.html">Silver Ring</a>
											<a href="shop.html">evening</a>										
										</div>										
									</div>
								</li>
								<li><a href="shop.html">Footwear</a>
									<div class="megamenu Footwear_longwidth">
										<div class="mega">
											<h2><a href="shop.html">Dresses</a></h2>
											<a href="shop.html">Cocktail</a>
											<a href="shop.html">Day</a>
											<a href="shop.html">Evening</a>
											<a href="shop.html">Sports</a>
											<a href="shop.html">jeans</a>
										</div>
										<div class="mega">
											<h2><a href="shop.html">Cloth</a></h2>
											<a href="shop.html">Sports</a>
											<a href="shop.html">run</a>
											<a href="shop.html">Evening</a>
											<a href="shop.html">sandals</a>
											<a href="shop.html">Books</a>
										</div>
										<div class="mega">
											<h2><a href="shop.html">Shoes</a></h2>
											<a href="shop.html">Blazers</a>
											<a href="shop.html">table</a>
											<a href="shop.html">coats</a>
											<a href="shop.html">kids</a>
											<a href="shop.html">evening</a>										
										</div>
										<div class="mega">
											<h2><a href="shop.html">Bands</a></h2>
											<a href="shop.html">Platinum Necklaces</a>
											<a href="shop.html">Gold Ring</a>
											<a href="shop.html">coats</a>
											<a href="shop.html">Silver Ring</a>
											<a href="shop.html">evening</a>										
										</div>										
									</div>							
								</li>
								<li><a href="shop.html">Jewellery</a>
									<div class="megamenu Jewellery_longwidth">
										<div class="mega">
											<h2><a href="shop.html">Dresses</a></h2>
											<a href="shop.html">Cocktail</a>
											<a href="shop.html">Day</a>
											<a href="shop.html">Evening</a>
											<a href="shop.html">Sports</a>
											<a href="shop.html">jeans</a>
										</div>
										<div class="mega">
											<h2><a href="shop.html">Cloth</a></h2>
											<a href="shop.html">Sports</a>
											<a href="shop.html">run</a>
											<a href="shop.html">Evening</a>
											<a href="shop.html">sandals</a>
											<a href="shop.html">Books</a>
										</div>
										<div class="mega">
											<h2><a href="shop.html">Shoes</a></h2>
											<a href="shop.html">Blazers</a>
											<a href="shop.html">table</a>
											<a href="shop.html">coats</a>
											<a href="shop.html">kids</a>
											<a href="shop.html">evening</a>										
										</div>
										<div class="mega">
											<h2><a href="shop.html">Bands</a></h2>
											<a href="shop.html">Platinum Necklaces</a>
											<a href="shop.html">Gold Ring</a>
											<a href="shop.html">coats</a>
											<a href="shop.html">Silver Ring</a>
											<a href="shop.html">evening</a>										
										</div>										
									</div>							
								</li>
								<li><a href="shop.html">Pages</a>
									<ul class="sub_menu">
										<li><a href="about.html">About Page</a></li>
										<li><a href="shop.html">Shop Page</a></li>
										<li><a href="single-shop.html">single shop Page</a></li>
										<li><a href="myaccount.html">myaccount Page</a></li>
										<li><a href="blog.html">Blog Page</a></li>
										<li><a href="single-blog.html">Single-Blog Page</a></li>
										<li><a href="checkout.html">checkout</a></li>
										<li><a href="cart.html">cart Page</a></li>
										<li><a href="contact.html">contact Page</a></li>										
									</ul>								
								</li>
								<li><a href="about.html">About us</a></li>
								<li><a href="contact.html">Contact Us</a></li>								
							</ul>
						</nav>
					</div>
				</div>
			</div>
		</div>
		<!--end header nav  area -->		
	</header>
    <!--end header  area -->
	<!--Start mobile menu  area -->
	<div class="mobile_memu_area">
		<div class="container">
			<div class="row">
				<div class="col-lg-12 col-md-12 col-sm-12">
					<div class="mobile_memu">
						<nav>
							<ul>
								<li><a href="index.html">Home</a>
									<ul>
										<li><a href="index.html">Home 1</a></li>
										<li><a href="index-2.html">Home 2</a></li>
										<li><a href="index-3.html">Home 3</a></li>
										<li><a href="index-4.html">Home 4</a></li>
									</ul>
								</li>
								<li><a href="shop.html">women</a>
									<ul>
										<li><a href="shop.html">Dresses</a>		
											<ul>										
												<li><a href="shop.html">Cocktail</a></li>
												<li><a href="shop.html">Day</a></li>
												<li><a href="shop.html">Evening</a></li>
												<li><a href="shop.html">Sports</a></li>
												<li><a href="shop.html">jeans</a></li>
											</ul>
										</li>
										<li><a href="shop.html">Cloth</a>		
											<ul>										
												<li><a href="shop.html">Cocktail</a></li>
												<li><a href="shop.html">Day</a></li>
												<li><a href="shop.html">Evening</a></li>
												<li><a href="shop.html">Sports</a></li>
												<li><a href="shop.html">jeans</a></li>
											</ul>
										</li>
										<li><a href="shop.html">Shoes</a>		
											<ul>										
												<li><a href="shop.html">Cocktail</a></li>
												<li><a href="shop.html">Day</a></li>
												<li><a href="shop.html">Evening</a></li>
												<li><a href="shop.html">Sports</a></li>
												<li><a href="shop.html">jeans</a></li>
											</ul>
										</li>
										<li><a href="shop.html">Bands</a>		
											<ul>										
												<li><a href="shop.html">Cocktail</a></li>
												<li><a href="shop.html">Day</a></li>
												<li><a href="shop.html">Evening</a></li>
												<li><a href="shop.html">Sports</a></li>
												<li><a href="shop.html">jeans</a></li>
											</ul>
										</li>
									</ul>								
								</li>
								<li><a href="shop.html">men</a>
									<ul>
										<li><a href="shop.html">Dresses</a>		
											<ul>										
												<li><a href="shop.html">Cocktail</a></li>
												<li><a href="shop.html">Day</a></li>
												<li><a href="shop.html">Evening</a></li>
												<li><a href="shop.html">Sports</a></li>
												<li><a href="shop.html">jeans</a></li>
											</ul>
										</li>
										<li><a href="shop.html">Cloth</a>		
											<ul>										
												<li><a href="shop.html">Cocktail</a></li>
												<li><a href="shop.html">Day</a></li>
												<li><a href="shop.html">Evening</a></li>
												<li><a href="shop.html">Sports</a></li>
												<li><a href="shop.html">jeans</a></li>
											</ul>
										</li>
										<li><a href="shop.html">Shoes</a>		
											<ul>										
												<li><a href="shop.html">Cocktail</a></li>
												<li><a href="shop.html">Day</a></li>
												<li><a href="shop.html">Evening</a></li>
												<li><a href="shop.html">Sports</a></li>
												<li><a href="shop.html">jeans</a></li>
											</ul>
										</li>
										<li><a href="shop.html">Bands</a>		
											<ul>										
												<li><a href="shop.html">Cocktail</a></li>
												<li><a href="shop.html">Day</a></li>
												<li><a href="shop.html">Evening</a></li>
												<li><a href="shop.html">Sports</a></li>
												<li><a href="shop.html">jeans</a></li>
											</ul>
										</li>
									</ul>
								</li>
								<li><a href="shop.html">Footwear</a>
									<ul>
										<li><a href="shop.html">Dresses</a>		
											<ul>										
												<li><a href="shop.html">Cocktail</a></li>
												<li><a href="shop.html">Day</a></li>
												<li><a href="shop.html">Evening</a></li>
												<li><a href="shop.html">Sports</a></li>
												<li><a href="shop.html">jeans</a></li>
											</ul>
										</li>
										<li><a href="shop.html">Cloth</a>		
											<ul>										
												<li><a href="shop.html">Cocktail</a></li>
												<li><a href="shop.html">Day</a></li>
												<li><a href="shop.html">Evening</a></li>
												<li><a href="shop.html">Sports</a></li>
												<li><a href="shop.html">jeans</a></li>
											</ul>
										</li>
										<li><a href="shop.html">Shoes</a>		
											<ul>										
												<li><a href="shop.html">Cocktail</a></li>
												<li><a href="shop.html">Day</a></li>
												<li><a href="shop.html">Evening</a></li>
												<li><a href="shop.html">Sports</a></li>
												<li><a href="shop.html">jeans</a></li>
											</ul>
										</li>
										<li><a href="shop.html">Bands</a>		
											<ul>										
												<li><a href="shop.html">Cocktail</a></li>
												<li><a href="shop.html">Day</a></li>
												<li><a href="shop.html">Evening</a></li>
												<li><a href="shop.html">Sports</a></li>
												<li><a href="shop.html">jeans</a></li>
											</ul>
										</li>
									</ul>							
								</li>
								<li><a href="shop.html">Jewellery</a>
									<ul>
										<li><a href="shop.html">Dresses</a>		
											<ul>										
												<li><a href="shop.html">Cocktail</a></li>
												<li><a href="shop.html">Day</a></li>
												<li><a href="shop.html">Evening</a></li>
												<li><a href="shop.html">Sports</a></li>
												<li><a href="shop.html">jeans</a></li>
											</ul>
										</li>
										<li><a href="shop.html">Cloth</a>		
											<ul>										
												<li><a href="shop.html">Cocktail</a></li>
												<li><a href="shop.html">Day</a></li>
												<li><a href="shop.html">Evening</a></li>
												<li><a href="shop.html">Sports</a></li>
												<li><a href="shop.html">jeans</a></li>
											</ul>
										</li>
										<li><a href="shop.html">Shoes</a>		
											<ul>										
												<li><a href="shop.html">Cocktail</a></li>
												<li><a href="shop.html">Day</a></li>
												<li><a href="shop.html">Evening</a></li>
												<li><a href="shop.html">Sports</a></li>
												<li><a href="shop.html">jeans</a></li>
											</ul>
										</li>
										<li><a href="shop.html">Bands</a>		
											<ul>										
												<li><a href="shop.html">Cocktail</a></li>
												<li><a href="shop.html">Day</a></li>
												<li><a href="shop.html">Evening</a></li>
												<li><a href="shop.html">Sports</a></li>
												<li><a href="shop.html">jeans</a></li>
											</ul>
										</li>
									</ul>							
								</li>
								<li><a href="shop.html">Accessories</a></li>
								<li><a href="contact.html">Contact Us</a></li>
								<li><a href="about.html">About us</a></li>
							</ul>
						</nav>
					</div>
				</div>
			</div>
		</div>
	</div>
	<!--end mobile menu  area --> 	
	<!-- shop-area start -->
	<div class="shop-area">
		<div class="container">
			<div class="row">
				<!-- shop-left-sidebar start -->
				<div class="col-lg-3 col-md-4 col-sm-4">
					<!-- widget-middlw start -->	
					<div class="middle_widget middle_widget_mt fix">
						<!-- start widget-compare -->
						<aside class="left_middle_widget">
							<h3 class="sidebar_middle_title">Popular Tags</h3>
							<p>You have no Compare Product</p>
						</aside>
						<!-- end widget-compare  -->					
						<!-- widget-banner strat -->
						<aside class="left_middle_widget">
							<!-- widget-banner strat -->
							<aside class="left_middle_widget">
								<div class="single_ads lmiddle_widget">
									<a href=""><img src="img/shop/banner-left.jpg" alt="" /></a>									
								</div>	
							</aside>
							<!-- end widget-banner end -->	
						</aside>
						<!-- end widget-banner end -->						
						<!-- widget-tag start -->
						<aside class="left_middle_widget">
							<h3 class="sidebar_middle_title">Popular Tags</h3>
							<ul class="tag">
								<li><a href="#">women</a></li>
								<li><a href="#">men</a></li>
								<li><a href="#">euro</a></li>
								<li><a href="#">fashion</a></li>
								<li><a href="#">france</a></li>
								<li><a href="#">hat</a></li>
								<li><a href="#">travel</a></li>
								<li><a href="#">white</a></li>
								<li><a href="#">t-shirt</a></li>
								<li><a href="#">teen</a></li>
							</ul>
							<div class="view_all">
								<a href="">View All Tags</a>
							</div>
						</aside>
						<!-- end widget-tag  -->
					</div>
				</div>				
				<!--end  shop-left-sidebar start -->
				<!-- shop-left-sidebar start -->
				<!-- shop-content start -->
				<div class="col-lg-9 col-md-8 col-sm-8">
					<div class="map">
					   <!-- Start contact-map -->
                            <div class="contact-map">
                                <div id="googleMap"></div>
                            </div>
						<!-- End contact-map -->
					</div>
					<!-- Start contact-area -->
					<div class="contact_area">
						<div class="page_title contact">
							<h1>Contact Us</h1>
						</div>	
						<form action="#">
							<div class="form">
								<fieldset class="fieldset">
									<legend class="legend">Contact Information</legend>
									<div class="form_control">
										<ul>
											<li>
												<div class="field">
													<label class="label" for="Name">Name <em>*</em></label>
													<div class="input-box">
														 <input type="text" class="form-control border_color" id="Name">
													</div>												
												</div>
												<div class="field email">
													<label class="label" for="email">Email <em>*</em></label>
													<div class="input-box einput">
														<input type="email" class="form-control border_color " id="email">
													</div>												
												</div>
											</li>
											<li>
												<div class="field">
													<label class="label" for="Telephone">Telephone</label>
													<div class="input-box">
														<input type="text" class="form-control border_color" id="Telephone">
													</div>												
												</div>
											</li>
											<li>
												<div class="field">
													<label class="label" for="Comment">Comment <em>*</em></label>
													<div class="input-box">
														<textarea class="form-control border_color" id="Comment" cols="30" rows="7"></textarea>
													</div>												
												</div>
												
											</li>
										</ul>
									</div>
								</fieldset>
								<div class="button_set">
									<p>* Required Fields</p>
										<div class="newsl_button">
											<button type="submit"><span>SUBMIT</span></button>
										</div>	
								</div>
							</div>
						</form>
					</div>
					<!-- end contact-area -->
				</div>
			</div>
		</div>	
	</div>
	<!-- end shop-content  -->	
	<!-- Start client area -->
	<div class="client_area">
		<div class="container">	
			<div class="row">
				<div class="client_owl">
					<div class="single_demo">
						<div class="client_logo">
							<a href=""><img src="img/client/brand1.png" alt="" /></a>
						</div>
					</div>
					<div class="single_demo">
						<div class="client_logo">
							<a href=""><img src="img/client/brand2.png" alt="" /></a>
						</div>
					</div>
					<div class="single_demo">
						<div class="client_logo">
							<a href=""><img src="img/client/brand3.png" alt="" /></a>
						</div>
					</div>
					<div class="single_demo">
						<div class="client_logo">
							<a href=""><img src="img/client/brand4.png" alt="" /></a>
						</div>
					</div>
					<div class="single_demo">
						<div class="client_logo">
							<a href=""><img src="img/client/brand4.png" alt="" /></a>
						</div>
					</div>
					<div class="single_demo">
						<div class="client_logo">
							<a href=""><img src="img/client/brand4.png" alt="" /></a>
						</div>
					</div>					
					<div class="single_demo">
						<div class="client_logo">
							<a href=""><img src="img/client/brand5.png" alt="" /></a>
						</div>
					</div>								
				</div>
		   </div>
		</div>
	</div>	
	<!-- End client area -->	
	<!--Start footer  area -->
	<footer class="footer_area ">
		<!--Start footer top  area -->
		<div class="footer_top ">
			<div class="container">
				<div class="row">
					<div class="col-lg-3 col-md-3 col-sm-6">
						<div class="flogo">
							<a href=""><img src="img/logo.png" alt="" /></a>
						</div>
						<div class="address_widget">
							<p class="des">Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh..</p>
							<ul class="single_address">
								<li class="clearfix">
									<i class="fa fa-map-marker"></i>
									<span>(800) 123 456 789</span>
								</li>
								<li class="clearfix">
									<i class="fa fa-phone"></i>
									<span>+1 800 123 4567</span>
								</li>
								<li class="clearfix">
									<i class="fa fa-envelope"></i>
									<span>admin@bootexperts.com</span>
								</li>								
							</ul>					
						</div>
					</div>
					<div class="col-lg-2 col-md-3 col-sm-3">
						<h2 class="footer_title"><span>MY ACCOUNT</span></h2>
						<div class="widget">
							<ul>
								<li><a href="">Login</a></li>
								<li><a href="">My Account</a></li>
								<li><a href="">My Cart</a></li>
								<li><a href="">Wishlist</a></li>
								<li><a href="">Checkout</a></li>
								<li><a href="">Userinfor</a></li>
								<li><a href="">Contact Us</a></li>
							</ul>
						</div>
					</div>
					<div class="col-lg-2 col-md-3 col-sm-3">
						<h2 class="footer_title"><span>Information</span></h2>
						<div class="widget">
							<ul>
								<li><a href="">Sitemap</a></li>
								<li><a href="">Privacy Policy</a></li>
								<li><a href="">Your Account</a></li>
								<li><a href="">Advanced Search</a></li>
								<li><a href="">Affiliates</a></li>
								<li><a href="">Group Sales</a></li>
								<li><a href="">Contact Us</a></li>
							</ul>
						</div>				
					</div>
					<div class="col-lg-2 col-md-3 col-sm-5 hidden-sm  hidden-md">
						<h2 class="footer_title"><span>contact us</span></h2>
						<div class="widget">
							<ul>
								<li><a href="">Product Recall</a></li>
								<li><a href=""> Gift Vouchers</a></li>
								<li><a href="">Returns and Exchanges</a></li>
								<li><a href="">Shipping Options</a></li>
								<li><a href="">Blogs</a></li>
								<li><a href="">Affiliates</a></li>
								<li><a href="">Help & FAQs</a></li>
							</ul>
						</div>				
					</div>
					
					<div class="col-lg-3 col-md-3 col-sm-5 hidden-sm">
						<h2 class="footer_title"><span>NEWSLETTER</span></h2>
						<div class="newslatter_widget">
							<p>Subscribe to the Manina mailing list to receive updates on new arrivals, special offers and other discount information.</p>
							<div class="search_box">
								<form action="#">
									<div class="newsl_text">
										<input type="text" placeholder="Send  E-mail"/>
									</div>
									<div class="newsl_button">
										<button type="submit"><span>subscribe</span></button>
									</div>
								</form>
							</div>
						</div>				
					</div>
				</div>
			</div>
		</div>
		<!-- end footer top -->
		<!-- Start footer middle -->
		<div class="footer_middle">
			<div class="container">
				<div class="row">
					<div class="col-lg-12 col-md-12 col-sm-12">
						<nav class="footer_menu">
							<ul>
								<li><a href="">Site Map</a></li>
								<li><a href="">Search Terms</a></li>
								<li><a href="">Advanced Search</a></li>
								<li><a href="">Search Terms</a></li>
								<li><a href="">orders and Returns </a></li>
								<li><a href="">Contact Us</a></li>
							</ul>
						</nav>
					</div>
				</div>
			</div>
		</div>
		<!-- end footer middle -->
		<!-- Start footer Bottom -->
		<div class="footer_bottom">
			<div class="container">
				<div class="row">
					<div class="col-lg-9 col-md-6 col-sm-7">
						<div class="footer_copyright">
							<span class="text-left">Copyright &copy; <a href="#">bootexperts.</a>  All Right Reserved. </span>
						</div>
					</div>
					<div class="col-lg-3 col-md-6 col-sm-5">
						<div class="payment">
							<span><a href=""><img src="img/v.png" alt="" /></a></span>
							<span><a href=""><img src="img/m.png" alt="" /></a></span>
							<span><a href=""><img src="img/d.png" alt="" /></a></span>
							<span><a href=""><img src="img/a.png" alt="" /></a></span>
							<span><a href=""><img src="img/pa.png" alt="" /></a></span>
						</div>
					</div>				
				</div>
			</div>
		</div>
		<!-- End footer bottom -->
	</footer>	
	<!-- End end footer  -->
        <!-- JS -->        
 		<!-- jquery-1.11.3.min js
		============================================ -->         
        <script src="js/vendor/jquery-1.11.3.min.js"></script>
		<!-- fancybox js
		============================================ -->		
		<script src="js/jquery.fancybox.pack.js"></script> 	              
 		<!-- bootstrap js
		============================================ -->         
        <script src="js/bootstrap.min.js"></script>      
   		<!-- owl.carousel.min js
		============================================ -->       
        <script src="js/owl.carousel.min.js"></script>
   		<!-- scrollup js
		============================================ --> 		
        <script src="js/jquery.scrollup.min.js"></script>       
   		<!-- wow js
		============================================ -->       
        <script src="js/wow.js"></script>       
   		<!-- countdown js
		============================================ -->         
        <script src="js/jquery.countdown.min.js"></script>		
		<!-- plugins js
		============================================ -->         
        <script src="js/plugins.js"></script>
        <!-- price_slider js -->
        <script src="js/price_slider.js"></script>
		<!-- meanmenu js
		============================================ -->  		
        <script src="js/jquery.meanmenu.min.js"></script> 	
         <!-- counterup js
		============================================ -->  		
        <script src="js/jquery.counterup.min.js"></script>
		<script src="js/waypoints.min.js"></script>
		<!-- nivoslider js -->
		<script src="js/jquery.nivo.slider.pack.js"></script> 		
   		<!-- main js
		============================================ -->           
        <script src="js/main.js"></script>


        <!-- Google Map js -->
        <script src="https://maps.googleapis.com/maps/api/js"></script>
        <script>
            function initialize() {
              var mapOptions = {
                zoom: 15,
                scrollwheel: false,
                center: new google.maps.LatLng(40.663293, -73.956351)
              };

              var map = new google.maps.Map(document.getElementById('googleMap'),
                  mapOptions);


              var marker = new google.maps.Marker({
                position: map.getCenter(),
                animation:google.maps.Animation.BOUNCE,
                icon: 'img/map-marker.png',
                map: map
              });

            }

            google.maps.event.addDomListener(window, 'load', initialize);
        </script>		
    </body>
</html>
