<!DOCTYPE html>
<html class="no-js" lang="">
    <head>
        <meta charset="utf-8">
        <meta http-equiv="x-ua-compatible" content="ie=edge">
        <title>Home One || Lookcare </title>
        <meta name="description" content="">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        
        <!-- google font  -->
        <link href='https://fonts.googleapis.com/css?family=Poppins:400,300,500,600,700' rel='stylesheet' type='text/css'>
        <!-- Favicon
        ============================================ -->
        <link rel="shortcut icon" href="@routes.Assets.versioned("images/favicon.ico")" type="image/x-icon">       

        <!-- Bootstrap CSS
        ============================================ -->      
        <link rel="stylesheet" href="@routes.Assets.versioned("stylesheets/bootstrap.min.css")">
        
        <!-- owl.carousel CSS
        ============================================ -->      
        <link rel="stylesheet" href="@routes.Assets.versioned("stylesheets/owl.carousel.css")">
        
        <!-- owl.theme CSS
        ============================================ -->      
        <link rel="stylesheet" href="@routes.Assets.versioned("stylesheets/owl.theme.css")">
            
        <!-- owl.transitions CSS
        ============================================ -->      
        <link rel="stylesheet" href="@routes.Assets.versioned("stylesheets/owl.transitions.css")">
        
        <!-- font-awesome.min CSS
        ============================================ -->      
        <link rel="stylesheet" href="@routes.Assets.versioned("stylesheets/font-awesome.min.css")">
        
        <!-- animate CSS
        ============================================ -->         
        <link rel="stylesheet" href="@routes.Assets.versioned("stylesheets/animate.css")">
        <!-- meanmenu CSS
        ============================================ -->        
        <link rel="stylesheet" href="@routes.Assets.versioned("stylesheets/meanmenu.min.css")">     
        <!-- nivo-slider css -->
        <link rel="stylesheet" href="@routes.Assets.versioned("stylesheets/nivo-slider.css")">       
        <!-- normalize CSS
        ============================================ -->        
        <link rel="stylesheet" href="@routes.Assets.versioned("stylesheets/normalize.css")">
        <!-- fancyBox 
        ============================================ -->         
        <link rel="stylesheet" href="@routes.Assets.versioned("stylesheets/jquery.fancybox.css")">         
        <!-- main CSS
        ============================================ -->          
        <link rel="stylesheet" href="@routes.Assets.versioned("stylesheets/main.css")">
        
        <!-- style CSS
        ============================================ -->          
        <link rel="stylesheet" href="@routes.Assets.versioned("stylesheets/style.css")">
        
        <!-- responsive CSS
        ============================================ -->          
        <link rel="stylesheet" href="@routes.Assets.versioned("stylesheets/responsive.css")">
        
        <script src="@routes.Assets.versioned("javascripts/vendor/modernizr-2.8.3.min.js")"></script>
    </head>
    <body>
        <!--[if lt IE 8]>
            <p class="browserupgrade">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a> to improve your experience.</p>
        <![endif]-->
    <!--Start header  area -->  
    <header>
      
          <!--Start header top  area -->
        <div class="header_top">
            <div class="container">
                <div class="row">
                    <div class="col-lg-6 col-md-6 col-sm-12">
                        <div class="top_menu">
                            <ul>
                                <li><a href="#">Endereço: Rua Barisano da Trani, 30, São Paulo - SP, CEP 02253040</a></li>
                            </ul>
                        </div>                          
                    </div>
                    <div class="col-lg-6 col-md-6 col-sm-12">
                        <div class="top_menu_right">
                            <ul class="pull-right">
                                 <li><a href="#">Telefone: (11) 95147 - 1534</a></li>
                                 <li><a href="#">Email: eliete@@mehanas.com</a></li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
      
      
      
        <div class="header_mid">
            <div class="container">
                <div class="row">
                    <div class="col-md-3 col-lg-3">
                        <div class="logo" style="margin-top: -34px; margin-left: 70px;">
                            <a href="#"><img src="@routes.Assets.versioned("images/logo.png")" alt="" /></a>
                         </div>
                    </div>
                    
                    <!-- 
	                    <div class="col-md-3 col-lg-3 pull-right">
	                      <a href="#"><img src="@routes.Assets.versioned("images/logo.png")" alt="" /></a>
	                    </div>
                    -->
                    
                </div>
            </div>
        </div>
    </header>
        
    <!-- slider-area end -->
    <!-- strart model product area -->
    <section class="model_product_area">
        <div class="container" style="margin-top: -100px;">
            <div class="row">
                <div class="col-md-12">
                    <div class="section-title">
                        <h2><span class="title">Modelos Femininos</span></h2>
                    </div>
                </div>                              
            </div>
            <div class="row">
                <div>

                  <!-- Tab panes -->
                    <div class="tab-content">
                        <div class="tab-pane active" id="Featured">
                            <!-- model owl Product Item -->
                            <div class="model_owl curosel-style">
                                <!-- Single Product Item -->
                                <div class="col-lg-12 col-md-12 col-sm-12">
                                    <div class="single_product">
                                        <div class="product_box">
                                            <div class="single_img">
                                                <a href="#"><img src="@routes.Assets.versioned("images/product/9.jpg")" alt="best" /></a>
                                            </div>                                  
                                          
                                        </div>
                                    </div>                          
                                </div>
                                <!-- end Single Product Item -->
                                <!-- Single Product Item -->
                                <div class="col-lg-12 col-md-12 col-sm-12">
                                    <div class="single_product">
                                        <div class="product_box">
                                            <div class="single_img">
                                                <a href="#"><img src="@routes.Assets.versioned("images/product/2.jpg")" alt="best" /></a>
                                            </div>                                  
                                        </div>
                                    </div>                          
                                </div>
                                <!-- end Single Product Item -->
                                <!-- Single Product Item -->
                                <div class="col-lg-12 col-md-12 col-sm-12">
                                    <div class="single_product">
                                        <div class="product_box">
                                            <div class="single_img">
                                                <a href="#"><img src="@routes.Assets.versioned("images/product/3.jpg")" alt="best" /></a>
                                            </div>                                  
                                        </div>
                                    </div>                          
                                </div>
                                <!-- end Single Product Item -->
                                <!-- Single Product Item -->
                                <div class="col-lg-12 col-md-12 col-sm-12">
                                    <div class="single_product">
                                        <div class="product_box">
                                            <div class="single_img">
                                                <a href="#"><img src="@routes.Assets.versioned("images/product/4.jpg")" alt="best" /></a>
                                            </div>                                  
                                        </div>
                                    </div>                          
                                </div>
                             
                            </div>
                            <!-- end model owl Product Item -->     
                        </div>
                        <div class="tab-pane" id="Products">
                            <div class="model_owl curosel-style">
                                <!-- Single Product Item -->
                                <div class="col-lg-12 col-md-12 col-sm-12">
                                    <div class="single_product">
                                        <div class="product_box">
                                            <div class="single_img">
                                                <a href="#"><img src="@routes.Assets.versioned("images/product/9.jpg")" alt="best" /></a>
                                            </div>                                  
                                        </div>
                                    </div>                          
                                </div>
                                <!-- end Single Product Item -->
                                <!-- Single Product Item -->
                                <div class="col-lg-12 col-md-12 col-sm-12">
                                    <div class="single_product">
                                        <div class="product_box">
                                            <div class="single_img">
                                                <a href="#"><img src="@routes.Assets.versioned("images/product/2.jpg")" alt="best" /></a>
                                            </div>                                  
                                        </div>
                                    </div>                          
                                </div>
                                <!-- end Single Product Item -->
                                <!-- Single Product Item -->
                                <div class="col-lg-12 col-md-12 col-sm-12">
                                    <div class="single_product">
                                        <div class="product_box">
                                            <div class="single_img">
                                                <a href="#"><img src="@routes.Assets.versioned("images/product/3.jpg")" alt="best" /></a>
                                            </div>                                  
                                        </div>
                                    </div>                          
                                </div>
                                <!-- end Single Product Item -->
                                <!-- Single Product Item -->
                                <div class="col-lg-12 col-md-12 col-sm-12">
                                    <div class="single_product">
                                        <div class="product_box">
                                            <div class="single_img">
                                                <a href="#"><img src="@routes.Assets.versioned("images/product/9.jpg")" alt="best" /></a>
                                            </div>                                  
                                        </div>
                                    </div>                          
                                </div>
                                <div class="col-lg-12 col-md-12 col-sm-12">
                                    <div class="single_product">
                                        <div class="product_box">
                                            <div class="single_img">
                                                <a href="#"><img src="@routes.Assets.versioned("images/product/8.jpg")" alt="best" /></a>
                                            </div>                                  
                                    </div>                          
                                </div>
                                <!-- end Single Product Item -->                
                            </div>
                            <!-- end model owl Product Item -->                             
                        </div>
                        <div class="tab-pane" id="Random">
                            <div class="model_owl curosel-style">
                                <div class="col-lg-12 col-md-12 col-sm-12">
                                    <div class="single_product">
                                        <div class="product_box">
                                            <div class="single_img">
                                                <a href="#"><img src="@routes.Assets.versioned("images/product/2.jpg")" alt="best" /></a>
                                            </div>                                  
                                        </div>
                                    </div>                          
                                </div>
                                <!-- end Single Product Item -->
                                <!-- Single Product Item -->
                                <div class="col-lg-12 col-md-12 col-sm-12">
                                    <div class="single_product">
                                        <div class="product_box">
                                            <div class="single_img">
                                                <a href="#"><img src="@routes.Assets.versioned("images/product/3.jpg")" alt="best" /></a>
                                            </div>                                  
                                        </div>
                                    </div>                          
                                </div>
                                <!-- end Single Product Item -->
                                <!-- Single Product Item -->
                                <div class="col-lg-12 col-md-12 col-sm-12">
                                    <div class="single_product">
                                        <div class="product_box">
                                            <div class="single_img">
                                                <a href="#"><img src="@routes.Assets.versioned("images/product/4.jpg")" alt="best" /></a>
                                            </div>                                  
                                        </div>
                                    </div>                          
                                </div>
                            </div>
                            <!-- end model owl Product Item -->                         
                        </div>
                    </div>

                </div>                              
            </div>          
        </div>
    </section>
    
    
    
    <!-- ROW 2 -->
    
    
    <section class="model_product_area">
        <div class="container" style="margin-top: -130px;">
            <div class="row">
                <div class="col-md-12">
                    <div class="section-title">
<!--                         <h2><span class="title">Modelos Femininos</span></h2> -->
                    </div>
                </div>                              
            </div>
            <div class="row">
                <div>

                  <!-- Tab panes -->
                    <div class="tab-content">
                        <div class="tab-pane active" id="Featured">
                            <!-- model owl Product Item -->
                            <div class="model_owl curosel-style">
                                <!-- Single Product Item -->
                                <div class="col-lg-12 col-md-12 col-sm-12">
                                    <div class="single_product">
                                        <div class="product_box">
                                            <div class="single_img">
                                                <a href="#"><img src="@routes.Assets.versioned("images/product/6.jpg")" alt="best" /></a>
                                            </div>                                  
                                          
                                        </div>
                                    </div>                          
                                </div>
                                
                                <div class="col-lg-12 col-md-12 col-sm-12">
                                    <div class="single_product">
                                        <div class="product_box">
                                            <div class="single_img">
                                                <a href="#"><img src="@routes.Assets.versioned("images/product/5.jpg")" alt="best" /></a>
                                            </div>                                  
                                        </div>
                                    </div>                          
                                </div>
                                
                                <!-- end Single Product Item -->
                                <!-- Single Product Item -->
                                <div class="col-lg-12 col-md-12 col-sm-12">
                                    <div class="single_product">
                                        <div class="product_box">
                                            <div class="single_img">
                                                <a href="#"><img src="@routes.Assets.versioned("images/product/14.jpg")" alt="best" /></a>
                                            </div>                                  
                                        </div>
                                    </div>                          
                                </div>
                                <!-- end Single Product Item -->
                                <!-- Single Product Item -->
                                <div class="col-lg-12 col-md-12 col-sm-12">
                                    <div class="single_product">
                                        <div class="product_box">
                                            <div class="single_img">
                                                <a href="#"><img src="@routes.Assets.versioned("images/product/red.jpg")" alt="best" /></a>
                                            </div>                                  
                                        </div>
                                    </div>                          
                                </div>
                             </div>
                            <!-- end model owl Product Item -->     
                        </div>
                        <div class="tab-pane" id="Products">
                            <div class="model_owl curosel-style">
                                <!-- Single Product Item -->
                                <div class="col-lg-12 col-md-12 col-sm-12">
                                    <div class="single_product">
                                        <div class="product_box">
                                            <div class="single_img">
                                                <a href="#"><img src="@routes.Assets.versioned("images/product/9.jpg")" alt="best" /></a>
                                            </div>                                  
                                        </div>
                                    </div>                          
                                </div>
                                <!-- end Single Product Item -->
                                <!-- Single Product Item -->
                                <div class="col-lg-12 col-md-12 col-sm-12">
                                    <div class="single_product">
                                        <div class="product_box">
                                            <div class="single_img">
                                                <a href="#"><img src="@routes.Assets.versioned("images/product/2.jpg")" alt="best" /></a>
                                            </div>                                  
                                        </div>
                                    </div>                          
                                </div>
                                <!-- end Single Product Item -->
                                <!-- Single Product Item -->
                                <div class="col-lg-12 col-md-12 col-sm-12">
                                    <div class="single_product">
                                        <div class="product_box">
                                            <div class="single_img">
                                                <a href="#"><img src="@routes.Assets.versioned("images/product/3.jpg")" alt="best" /></a>
                                            </div>                                  
                                        </div>
                                    </div>                          
                                </div>
                            </div>
                            <!-- end model owl Product Item -->                             
                        </div>
                        </div>                              
            </div>          
        </div>
    </section>
    
    
    
      
   
   
   
    <!-- End client area -->    
    <!--Start footer  area -->
    <footer class="footer_area ">
        <!--Start footer top  area -->
        <div class="footer_top ">
            <div class="container">
                <div class="row">
                    <div class="col-lg-3 col-md-3 col-sm-6">
                        <div class="flogo">
                            <a href=""><img src="@routes.Assets.versioned("images/logo.png")" alt="" /></a>
                        </div>
                        <div class="address_widget">
                            <p class="des">Estamos localizados na Rua Barisano da Trani, 30, São Paulo - SP, CEP 02253040 </p>
                            <ul class="single_address">
                                <li class="clearfix">
                                    <i class="fa fa-phone"></i>
                                    <span>(11) 95147 - 1534</span>
                                </li>
                                <li class="clearfix">
                                    <i class="fa fa-envelope"></i>
                                    <span>eliete@@mehanas.com</span>
                                </li>                               
                            </ul>
                        </div>
                     </div>
                        
                     <div class="col-lg-9 col-md-8 col-sm-8">
                          <div class="contact-map">
	                          <div id="googleMap"></div>
	                      </div>
	                 </div>
                </div>
            </div>
        </div>
        
    </footer>   
    <!-- End end footer  -->
        <!-- JS -->        
        <!-- jquery-1.11.3.min js
        ============================================ -->         
        <script src="@routes.Assets.versioned("javascripts/vendor/jquery-1.11.3.min.js")"></script>
        <!-- fancybox js
        ============================================ -->        
        <script src="@routes.Assets.versioned("javascripts/jquery.fancybox.pack.js")"></script>                
        <!-- bootstrap js
        ============================================ -->         
        <script src="@routes.Assets.versioned("javascripts/bootstrap.min.js")"></script>      
        <!-- owl.carousel.min js
        ============================================ -->       
        <script src="@routes.Assets.versioned("javascripts/owl.carousel.min.js")"></script>
        <!-- scrollup js
        ============================================ -->        
        <script src="@routes.Assets.versioned("javascripts/jquery.scrollup.min.js")"></script>                   
        <!-- countdown js
        ============================================ -->         
        <script src="@routes.Assets.versioned("javascripts/jquery.countdown.min.js")"></script>      
        <!-- plugins js
        ============================================ -->         
        <script src="@routes.Assets.versioned("javascripts/plugins.js")"></script>
        <!-- price_slider js -->
        <script src="@routes.Assets.versioned("javascripts/price_slider.js")"></script>
        <!-- meanmenu js
        ============================================ -->        
        <script src="@routes.Assets.versioned("javascripts/jquery.meanmenu.min.js")"></script>   
        <!-- counterup js
        ============================================ -->        
        <script src="@routes.Assets.versioned("javascripts/jquery.counterup.min.js")"></script>
        <script src="@routes.Assets.versioned("javascripts/waypoints.min.js")"></script>
        <!-- nivoslider js -->
        <script src="@routes.Assets.versioned("javascripts/jquery.nivo.slider.pack.js")"></script>        
        <!-- wow js
        ============================================ -->       
        <script src="@routes.Assets.versioned("javascripts/wow.js")"></script>
        <script>
            new WOW().init();
        </script>
        <!-- main js
        ============================================ -->        
        <script src="@routes.Assets.versioned("javascripts/main.js")"></script>
        
        
        <!-- Google Map js -->
        <script src="https://maps.googleapis.com/maps/api/js"></script>
        <script>
            function initialize() {
              var mapOptions = {
                zoom: 15,
                scrollwheel: false,
                center: new google.maps.LatLng(-23.4783662, -46.5987848)
              };

              var map = new google.maps.Map(document.getElementById('googleMap'),
                  mapOptions);


              var marker = new google.maps.Marker({
                position: map.getCenter(),
                animation:google.maps.Animation.BOUNCE,
                icon: "@routes.Assets.versioned("images/map-marker.png")",
                map: map
              });

            }

            google.maps.event.addDomListener(window, 'load', initialize);
        </script>       
        
              
    </body>
</html>
