<!DOCTYPE html>
<html class="no-js" lang="">
    <head>
        <meta charset="utf-8">
        <meta http-equiv="x-ua-compatible" content="ie=edge">
        <title>Alugue Roupas</title>
        <meta name="description" content="">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        
        <!-- google font  -->
        <link href='https://fonts.googleapis.com/css?family=Poppins:400,300,500,600,700' rel='stylesheet' type='text/css'>
        <!-- Favicon
        ============================================ -->
        <link rel="shortcut icon" href="@routes.Assets.versioned("images/favicon.ico")" type="image/x-icon">       

        <!-- Bootstrap CSS
        ============================================ -->      
        <link rel="stylesheet" href="@routes.Assets.versioned("stylesheets/bootstrap.min.css")">
        
        <!-- owl.carousel CSS
        ============================================ -->      
        <link rel="stylesheet" href="@routes.Assets.versioned("stylesheets/owl.carousel.css")">
        
        <!-- owl.theme CSS
        ============================================ -->      
        <link rel="stylesheet" href="@routes.Assets.versioned("stylesheets/owl.theme.css")">
            
        <!-- owl.transitions CSS
        ============================================ -->      
        <link rel="stylesheet" href="@routes.Assets.versioned("stylesheets/owl.transitions.css")">
        
        <!-- font-awesome.min CSS
        ============================================ -->      
        <link rel="stylesheet" href="@routes.Assets.versioned("stylesheets/font-awesome.min.css")">
        
        <!-- animate CSS
        ============================================ -->         
        <link rel="stylesheet" href="@routes.Assets.versioned("stylesheets/animate.css")">
        <!-- meanmenu CSS
        ============================================ -->        
        <link rel="stylesheet" href="@routes.Assets.versioned("stylesheets/meanmenu.min.css")">     
        <!-- nivo-slider css -->
        <link rel="stylesheet" href="@routes.Assets.versioned("stylesheets/nivo-slider.css")">       
        <!-- normalize CSS
        ============================================ -->        
        <link rel="stylesheet" href="@routes.Assets.versioned("stylesheets/normalize.css")">
        <!-- fancyBox 
        ============================================ -->         
        <link rel="stylesheet" href="@routes.Assets.versioned("stylesheets/jquery.fancybox.css")">         
        <!-- main CSS
        ============================================ -->          
        <link rel="stylesheet" href="@routes.Assets.versioned("stylesheets/main.css")">
        
        <!-- style CSS
        ============================================ -->          
        <link rel="stylesheet" href="@routes.Assets.versioned("stylesheets/style.css")">
        
        <!-- responsive CSS
        ============================================ -->          
        <link rel="stylesheet" href="@routes.Assets.versioned("stylesheets/responsive.css")">
        
        <script src="@routes.Assets.versioned("javascripts/vendor/modernizr-2.8.3.min.js")"></script>
    </head>
    <body>
        <!--[if lt IE 8]>
            <p class="browserupgrade">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a> to improve your experience.</p>
        <![endif]-->
    <!--Start header  area -->  
    <header>
      
          <!--Start header top  area -->
        <div class="header_top">
            <div class="container">
                <div class="row">
                    <div class="col-lg-6 col-md-6 col-sm-12">
                        <div class="top_menu">
                            <ul>
                                <li><a href="#">Endereço: Rua Paulo de Faria 218, Tucuruví, São Paulo - SP </a></li>
                            </ul>
                        </div>                          
                    </div>
                    <div class="col-lg-6 col-md-6 col-sm-12">
                        <div class="top_menu_right">
                            <ul class="pull-right">
                                 <li><a href="#">Telefone: (11) 96266 - 6268</a></li>
                                 <li><a href="#" style="text-transform:none">Email: elietemehana@@gmail.com</a></li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
      
      
      
        <div class="header_mid">
            <div class="container">
                <div class="row">
                    <div class="col-md-3 col-lg-3">
                        <div class="logo" style="margin-top: 20px; margin-left: 200px;">
                            <a href="#"><img src="@routes.Assets.versioned("images/ElyAluguelDeRoupas-1.jpeg")" style="width:1200%; max-width: none;" ></a>
                         </div>
                    </div>
                </div>
            </div>
        </div>
    </header>
        
    <section class="model_product_area">
        <div class="container" style="margin-top: -100px;">
            <div class="row">
                <div class="col-md-12">
                    <div class="section-title" style="margin-top: -80px;">
                        <h2><span class="title">Pe&ccedil;as</span></h2>
                    </div>
                </div>                              
            </div>
            <div class="row" style="margin-top: -20px;">
                <div>

                    <ul class="nav nav_style">
                        <li>
	                        <a href="#Dresses" data-toggle="tab">
	                            Vestidos
	                        </a>
                        </li>
                        <li>
                            <a href="#Smokings" data-toggle="tab">
                                Smokings
                            </a>
                        </li>
                        <li class="active">
                            <a href="#Debuts" data-toggle="tab">
                                Debutantes
                            </a>
                        </li>
                         <li>
                            <a href="#Bride" data-toggle="tab">
                                Noivas
                            </a>
                        </li>
                        <li>
                            <a href="#Infants" data-toggle="tab">
                                Infantis
                            </a>
                        </li>
                    </ul>
                
                
                    <!-- START DRESSES -->

                    <div class="tab-content">
                        <div class="tab-pane" id="Dresses">
             
                            <div class="model_owl curosel-style">
                                <div class="col-lg-12 col-md-12 col-sm-12">
                                    <div class="single_product">
                                        <div class="product_box">
                                            <div class="single_img">
                                                <a href="#"><img src="@routes.Assets.versioned("images/product/dresses/colors.jpg")" alt="best" /></a>
                                            </div>
                                            <div class="product_info" style="padding-bottom: 0px;text-align: center;">
                                                <h2><a href="#" style="cursor: default;">Modelo Colorido</a></h2>
                                                 <div class="addto" style="bottom: -37px;">
                                                    <button type="button" style="cursor: default;">
                                                          <span class="regular">R$ 100.00</span>
                                                    </button>
                                                </div>
                                            </div>                                                         
                                        </div>
                                    </div>                          
                                </div>

                                <div class="col-lg-12 col-md-12 col-sm-12">
                                    <div class="single_product">
                                        <div class="product_box">
                                            <div class="single_img">
                                                <a href="#"><img src="@routes.Assets.versioned("images/product/dresses/yellow.jpg")" alt="best" /></a>
                                            </div>
                                            <div class="product_info" style="padding-bottom: 0px;text-align: center;">
                                                <h2><a href="#" style="cursor: default;">Modelo Amarelo</a></h2>
                                                 <div class="addto" style="bottom: -37px;">
                                                    <button type="button" style="cursor: default;">
                                                          <span class="regular">R$ 100.00</span>
                                                    </button>
                                                </div>
                                            </div>                                          
                                        </div>
                                    </div>                          
                                </div>
   
                                <div class="col-lg-12 col-md-12 col-sm-12">
                                    <div class="single_product">
                                        <div class="product_box">
                                            <div class="single_img">
                                                <a href="#"><img src="@routes.Assets.versioned("images/product/dresses/wine.jpg")" alt="best" /></a>
                                            </div>
                                            <div class="product_info" style="padding-bottom: 0px; text-align: center;">
                                                <h2><a href="#" style="cursor: default;">Modelo Vinho</a></h2>
                                                 <div class="addto" style="bottom: -37px;">
                                                    <button type="button" style="cursor: default;">
                                                          <span class="regular">R$ 100.00</span>
                                                    </button>
                                                </div>
                                            </div>                                      
                                        </div>
                                    </div>                          
                                </div>
                             
                                <div class="col-lg-12 col-md-12 col-sm-12">
                                    <div class="single_product">
                                        <div class="product_box">
                                            <div class="single_img">
                                                <a href="#"><img src="@routes.Assets.versioned("images/product/dresses/silver.jpg")" alt="best" /></a>
                                            </div>
                                             <div class="product_info" style="padding-bottom: 0px; text-align: center;">
                                                <h2><a href="#" style="cursor: default;">Modelo Prata</a></h2>
                                                 <div class="addto" style="bottom: -37px;">
                                                    <button type="button" style="cursor: default;">
                                                          <span class="regular">R$ 100.00</span>
                                                    </button>
                                                </div>
                                            </div>                                          
                                        </div>
                                    </div>                          
                                </div>
                            
                            </div>
                        
                        </div>
                        
                        <!-- END DRESSES -->
                        
                        <!-- START SMOKINGS -->
                        
                        <div class="tab-pane" id="Smokings">
                            <div class="model_owl curosel-style">
                                <div class="col-lg-12 col-md-12 col-sm-12">
                                    <div class="single_product">
                                        <div class="product_box">
                                            <div class="single_img">
                                                <a href="#"><img src="@routes.Assets.versioned("images/product/smokings/1.jpg")" style="width: 100%; height: 350px;"  alt="best" /></a>
                                            </div>
                                            <div class="product_info" style="padding-bottom: 0px;">
                                                <h2><a href="#" style="margin-left: 43px;cursor: default;">Smoking Grotto Ferreira</a></h2>
                                                 <div class="addto" style="bottom: -37px;">
                                                    <button type="button" style="cursor: default;">
                                                          <span class="regular">R$ 100.00</span>
                                                    </button>
                                                </div>
                                            </div>                                               
                                        </div>
                                    </div>                          
                                </div>
                    
                                <div class="col-lg-12 col-md-12 col-sm-12">
                                    <div class="single_product">
                                        <div class="product_box">
                                            <div class="single_img">
                                                <a href="#"><img src="@routes.Assets.versioned("images/product/smokings/5.jpg")" style="width: 100%; height: 350px;" alt="best" /></a>
                                            </div>
                                            <div class="product_info" style="padding-bottom: 0px;">
                                                <h2><a href="#" style="margin-left: 43px;cursor: default;">Smoking Grotto Ferreira</a></h2>
                                                 <div class="addto" style="bottom: -37px;">
                                                    <button type="button" style="cursor: default;">
                                                          <span class="regular">R$ 100.00</span>
                                                    </button>
                                                </div>
                                            </div>                                               
                                        </div>
                                    </div>                          
                                </div>
                             
                            </div>
                        </div>
                        
                        <!-- END SMOKINGS -->
                        
                        
                        <!-- START DEBUTS -->
                        <div class="tab-pane active" id="Debuts">
                            <div class="model_owl curosel-style">
                            
                                <div class="col-lg-12 col-md-12 col-sm-12">
                                    <div class="single_product">
                                        <div class="product_box">
                                            <div class="single_img">
                                                <a href="#"><img src="@routes.Assets.versioned("images/product/debuts/4.jpg")" style="width: 100%;" alt="best" /></a>
                                            </div>
                                            <div class="product_info" style="text-align: center;">
                                                <h2><a href="#" style="cursor: default;">Modelo Lilás</a></h2>
                                                 <div class="addto">
                                                    <button type="button" style="cursor: default;">
                                                          <span class="regular">R$ 150.00</span>
                                                    </button>
                                                </div>
                                            </div>                                  
                                        </div>
                                    </div>                          
                                </div>
                  
                                <div class="col-lg-12 col-md-12 col-sm-12">
                                    <div class="single_product">
                                        <div class="product_box">
                                            <div class="single_img">
                                                <a href="#"><img src="@routes.Assets.versioned("images/product/debuts/5.jpg")" style="width: 100%;" alt="best" /></a>
                                            </div>
                                            <div class="product_info" style="text-align: center;">
                                                <h2><a href="#" style="cursor: default;">Modelo Azul</a></h2>
                                                <div class="addto" ">
                                                    <button type="button" style="cursor: default;">
                                                          <span class="regular">R$ 150.00</span>
                                                    </button>
                                                </div>
                                            </div>
                                        </div>
                                    </div>                          
                                </div>
                    
                                <div class="col-lg-12 col-md-12 col-sm-12">
                                    <div class="single_product">
                                        <div class="product_box">
                                            <div class="single_img">
                                                <a href="#"><img src="@routes.Assets.versioned("images/product/debuts/3.jpg")" style="width: 100%; height: 376px;" alt="best" /></a>
                                            </div>
                                            <div class="product_info" style="text-align: center;">
                                                <h2><a href="#" style="cursor: default;">Modelo Azul Turquesa</a></h2>
                                                <div class="addto">
                                                    <button type="button" style="cursor: default;">
                                                          <span class="regular">R$ 150.00</span>
                                                    </button>
                                                </div>
                                            </div>
                                        </div>
                                    </div>                          
                                </div>
                                
                                
                                
                                <div class="col-lg-12 col-md-12 col-sm-12">
                                    <div class="single_product">
                                        <div class="product_box">
                                            <div class="single_img">
                                                <a href="#"><img src="@routes.Assets.versioned("images/product/debuts/1.jpg")" style="width: 100%; height: 378px;" alt="best" /></a>
                                            </div>
                                            <div class="product_info" style="text-align: center;">
                                                <h2><a href="#" style="cursor: default;">Modelo Vermelho</a></h2>
                                                <div class="addto">
                                                    <button type="button" style="cursor: default;">
                                                          <span class="regular">R$ 150.00</span>
                                                    </button>
                                                </div>
                                            </div>
                                        </div>
                                    </div>                          
                                </div>
                             
                            </div>
                            
                        </div>
                        
                        
                         <!-- END DEBUTANTS -->
                         
                         
                         
                         <!-- START BRIDE -->
                        <div class="tab-pane" id="Bride">
                            <div class="model_owl curosel-style">
                            
                                <div class="col-lg-12 col-md-12 col-sm-12">
                                    <div class="single_product">
                                        <div class="product_box">
                                            <div class="single_img">
                                                <a href="#"><img src="@routes.Assets.versioned("images/product/bride/10.jpg")" style="width: 100%; height: 288px;" alt="best" /></a>
                                            </div>
                                             <div class="product_info" style="padding-bottom: 0px;">
                                                <h2><a href="#" style="margin-left: 100px;cursor: default;">Noiva</a></h2>
                                                 <div class="addto" style="bottom: -37px;">
                                                    <button type="button" style="cursor: default;">
                                                          <span class="regular">R$ 250.00</span>
                                                    </button>
                                                </div>
                                            </div>              
                                        </div>
                                    </div>                          
                                </div>
                  
                                <div class="col-lg-12 col-md-12 col-sm-12">
                                    <div class="single_product">
                                        <div class="product_box">
                                            <div class="single_img">
                                                <a href="#"><img src="@routes.Assets.versioned("images/product/bride/11.jpg")" style="width: 100%; height: 288px;" alt="best" /></a>
                                            </div>
                                             <div class="product_info" style="padding-bottom: 0px;">
                                                <h2><a href="#" style="margin-left: 100px;cursor: default;">Noiva</a></h2>
                                                 <div class="addto" style="bottom: -37px;">
                                                    <button type="button" style="cursor: default;">
                                                          <span class="regular">R$ 250.00</span>
                                                    </button>
                                                </div>
                                            </div>                                          
                                        </div>
                                    </div>                          
                                </div>
                             
                            </div>
                        </div>
                        
                        <!-- END BRIDE -->
                        
                        
                         <!-- START INFANTS -->
                        <div class="tab-pane" id="Infants">
                            <div class="model_owl curosel-style">
                            
                                <div class="col-lg-12 col-md-12 col-sm-12">
                                    <div class="single_product">
                                        <div class="product_box">
                                            <div class="single_img">
                                                <a href="#"><img src="@routes.Assets.versioned("images/product/infants/12.jpg")" style="width: 100%; height: 374px;" alt="best" /></a>
                                            </div>
                                            <div class="product_info" style="padding-bottom: 0px;">
                                                <h2><a href="#" style="margin-left: 88px;cursor: default;">Daminha</a></h2>
                                                 <div class="addto" style="bottom: -37px;">
                                                    <button type="button" style="cursor: default;">
                                                          <span class="regular">R$ 100.00</span>
                                                    </button>
                                                </div>
                                            </div>                                  
                                        </div>
                                    </div>                          
                                </div>
                  
                                <div class="col-lg-12 col-md-12 col-sm-12">
                                    <div class="single_product">
                                        <div class="product_box">
                                            <div class="single_img">
                                                <a href="#"><img src="@routes.Assets.versioned("images/product/infants/13.jpg")" style="width: 100%; height: 374px;" alt="best" /></a>
                                            </div>
                                            <div class="product_info" style="padding-bottom: 0px;">
                                                <h2><a href="#" style="margin-left: 88px;cursor: default;">Daminha</a></h2>
                                                 <div class="addto" style="bottom: -37px;">
                                                    <button type="button" style="cursor: default;">
                                                          <span class="regular">R$ 100.00</span>
                                                    </button>
                                                </div>
                                            </div>                                  
                                        </div>
                                    </div>                          
                                </div>
                                
                                  <div class="col-lg-12 col-md-12 col-sm-12">
                                    <div class="single_product">
                                        <div class="product_box">
                                            <div class="single_img">
                                                <a href="#"><img src="@routes.Assets.versioned("images/product/infants/14.jpg")" style="width: 100%; height: 374px;" alt="best" /></a>
                                            </div>
                                            <div class="product_info" style="padding-bottom: 0px;">
                                                <h2><a href="#" style="margin-left: 88px;cursor: default;">Daminha</a></h2>
                                                 <div class="addto" style="bottom: -37px;">
                                                    <button type="button" style="cursor: default;">
                                                          <span class="regular">R$ 100.00</span>
                                                    </button>
                                                </div>
                                            </div>                                  
                                        </div>
                                    </div>                          
                                </div>
                                
                                
                             
                            </div>
                        </div>
                        
                        <!-- END INFANTS -->
                        
                    </div>
                </div>                              
            </div>          
        </div>
    </section>
    
    
    <!-- HIGHLIGHT SECTION -->
    <section class="stock_area">
        <div class="container">
            <div class="row">
                <div class="stock_owl curosel-style">
                  
                  
                    <div class="stoct_product">
                        <div class="col-md-5 col-sm-5 col-lg-4 col-lg-offset-1">
                            <div class="stoct_img">
                                <div class="time_img"><a href=""><img src="@routes.Assets.versioned("images/product/debuts/3.jpg")" alt="" /></a></div>
                            </div>
                        </div>
                        <div class="col-md-7 col-sm-7 col-lg-7">
                            <div class="counterdown">
                                <div class="counter">
                                    <div class="countdown">
                                        <img src="@routes.Assets.versioned("images/icon-timer.png")" alt="" />
                                    </div>  
                                    <div class="timer">
                                        <div data-countdown="2016/04/30"></div>
                                    </div>                                                                              
                                </div>
                            </div>
                            <div class="stoct_content">
                                <div class="stoc_content_inner">
                                    <h2 class="product_name" style="text-align: center;">
	                                    <a  href="#" 
	                                        title="Promoção Kit com 3 Peças" 
	                                        style="cursor: normal;">Kit Para Debutantes </br> Com 3 Peças
	                                    </a>
                                    </h2>
                                    <p class="special_price">
                                        <span class="old_price">R$800.00</span>
                                        <span class="new_price">R$500.00</span>
                                    </p>
                                    <p class="availability in_stock">Disponível: <span>Em Estoque</span></p>
                                    <div>
                                        <span class="star">
                                            <span><i class="fa fa-star"></i></span>
                                            <span><i class="fa fa-star"></i></span>
                                            <span><i class="fa fa-star"></i></span>
                                            <span><i class="fa fa-star"></i></span>
                                            <span><i class="fa fa-star-o"></i></span>
                                        </span>
                                    </div>
                                    <div class="ma_des">
	                                    Alugue este lindo kit incluindo 3 peças para debutantes
	                                    e se </br> destaque com bom gosto e requinte.
	                                    </br></br>Esta promoção é válida até 30/04/2016
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
               
               
               
                    <div class="stoct_product">
                        <div class="col-md-5 col-sm-5 col-lg-4 col-lg-offset-1">
                            <div class="stoct_img">
                                <div class="time_img"><a href=""><img src="@routes.Assets.versioned("images/product/debuts/2.jpg")" alt="" /></a></div>
                            </div>
                        </div>
                        <div class="col-md-7 col-sm-7 col-lg-7">
                            <div class="counterdown">
                                <div class="counter">
                                    <div class="countdown">
                                        <img src="@routes.Assets.versioned("images/icon-timer.png")" alt="" />
                                    </div>  
                                    <div class="timer">
                                        <div data-countdown="2016/04/30"></div>
                                    </div>                                                                              
                                </div>
                            </div>
                            <div class="stoct_content">
                                <div class="stoc_content_inner">
                                    <h2 class="product_name" style="text-align: center;">
                                        <a  href="#" 
                                            title="Promoção Kit com 3 Peças" 
                                            style="cursor: normal;">Kit Para Debutantes </br> Com 3 Peças
                                        </a>
                                    </h2>
                                    <p class="special_price">
                                        <span class="old_price">R$800.00</span>
                                        <span class="new_price">R$500.00</span>
                                    </p>
                                    <p class="availability in_stock">Disponível: <span>Em Estoque</span></p>
                                    <div>
                                        <span class="star">
                                            <span><i class="fa fa-star"></i></span>
                                            <span><i class="fa fa-star"></i></span>
                                            <span><i class="fa fa-star"></i></span>
                                            <span><i class="fa fa-star"></i></span>
                                            <span><i class="fa fa-star-o"></i></span>
                                        </span>
                                    </div>
                                    <div class="ma_des">
                                        Alugue este lindo kit incluindo 3 peças para debutantes
                                        e se </br> destaque com bom gosto e requinte.
                                        </br></br>Esta promoção é válida até 30/04/2016
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                
                
                
                    <div class="stoct_product">
                        <div class="col-md-5 col-sm-5 col-lg-4 col-lg-offset-1">
                            <div class="stoct_img">
                                <div class="time_img"><a href=""><img src="@routes.Assets.versioned("images/product/debuts/1.jpg")" alt="" /></a></div>
                            </div>
                        </div>
                        <div class="col-md-7 col-sm-7 col-lg-7">
                            <div class="counterdown">
                                <div class="counter">
                                    <div class="countdown">
                                        <img src="@routes.Assets.versioned("images/icon-timer.png")" alt="" />
                                    </div>  
                                    <div class="timer">
                                        <div data-countdown="2016/04/30"></div>
                                    </div>                                                                              
                                </div>
                            </div>
                            <div class="stoct_content">
                                <div class="stoc_content_inner">
                                    <h2 class="product_name" style="text-align: center;">
                                        <a  href="#" 
                                            title="Promoção Kit com 3 Peças" 
                                            style="cursor: normal;">Kit Para Debutantes </br> Com 3 Peças
                                        </a>
                                    </h2>
                                    <p class="special_price">
                                        <span class="old_price">R$800.00</span>
                                        <span class="new_price">R$500.00</span>
                                    </p>
                                    <p class="availability in_stock">Disponível: <span>Em Estoque</span></p>
                                    <div>
                                        <span class="star">
                                            <span><i class="fa fa-star"></i></span>
                                            <span><i class="fa fa-star"></i></span>
                                            <span><i class="fa fa-star"></i></span>
                                            <span><i class="fa fa-star"></i></span>
                                            <span><i class="fa fa-star-o"></i></span>
                                        </span>
                                    </div>
                                    <div class="ma_des">
                                        Alugue este lindo kit incluindo 3 peças para debutantes
                                        e se </br> destaque com bom gosto e requinte.
                                        </br></br>Esta promoção é válida até 30/04/2016
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                 
                 
                 
                </div>
            </div>                  
        </div>  
    </section>
    
    
    
    
    
    
    
    
    
   
    <!-- End client area -->    
    <!--Start footer  area -->
    <footer class="footer_area ">
        <!--Start footer top  area -->
        <div class="footer_top ">
            <div class="container">
                <div class="row">
                    <div class="col-lg-3 col-md-3 col-sm-6">
                        <div class="flogo" style="margin-left: 30px;">
                            <a href=""><img src="@routes.Assets.versioned("images/ElyAluguelDeRoupas-3.png")" alt="" /></a>
                        </div>
                        <div class="address_widget">
                            <p class="des">Estamos localizados na Rua Paulo de Faria 218, Tucuruví, São Paulo - SP</p>
                            <ul class="single_address">
                                <li class="clearfix">
                                    <i class="fa fa-phone"></i>
                                    
                                    <span>(11) 96266 - 6268</span>
                                </li>
                                <li class="clearfix">
                                    <i class="fa fa-envelope"></i>
                                    <span>elietemehana@@gmail.com</span>
                                </li>                               
                            </ul>
                        </div>
                     </div>
                        
                     <div class="col-lg-9 col-md-8 col-sm-8">
                          <div class="contact-map">
	                          <div id="googleMap">
                                  <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3659.456043360986!2d-46.603917284926204!3d-23.480077884723354!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x94cef60d361e9581%3A0x816ef8f709615e43!2sR.%20Paulo%20de%20Faria%2C%20214%20-%20Vila%20Gustavo%2C%20S%C3%A3o%20Paulo%20-%20SP!5e0!3m2!1sen!2sbr!4v1570389953337!5m2!1sen!2sbr" width="600" height="450" frameborder="0" style="border:0;" allowfullscreen=""></iframe>
                              </div>
	                      </div>
	                 </div>
                </div>
            </div>
        </div>
        
    </footer>   
    <!-- End end footer  -->
        <!-- JS -->        
        <!-- jquery-1.11.3.min js
        ============================================ -->         
        <script src="@routes.Assets.versioned("javascripts/vendor/jquery-1.11.3.min.js")"></script>
        <!-- fancybox js
        ============================================ -->        
        <script src="@routes.Assets.versioned("javascripts/jquery.fancybox.pack.js")"></script>                
        <!-- bootstrap js
        ============================================ -->         
        <script src="@routes.Assets.versioned("javascripts/bootstrap.min.js")"></script>      
        <!-- owl.carousel.min js
        ============================================ -->       
        <script src="@routes.Assets.versioned("javascripts/owl.carousel.min.js")"></script>
        <!-- scrollup js
        ============================================ -->        
        <script src="@routes.Assets.versioned("javascripts/jquery.scrollup.min.js")"></script>                   
        <!-- countdown js
        ============================================ -->         
        <script src="@routes.Assets.versioned("javascripts/jquery.countdown.min.js")"></script>      
        <!-- plugins js
        ============================================ -->         
        <script src="@routes.Assets.versioned("javascripts/plugins.js")"></script>
        <!-- price_slider js -->
        <script src="@routes.Assets.versioned("javascripts/price_slider.js")"></script>
        <!-- meanmenu js
        ============================================ -->        
        <script src="@routes.Assets.versioned("javascripts/jquery.meanmenu.min.js")"></script>   
        <!-- counterup js
        ============================================ -->        
        <script src="@routes.Assets.versioned("javascripts/jquery.counterup.min.js")"></script>
        <script src="@routes.Assets.versioned("javascripts/waypoints.min.js")"></script>
        <!-- nivoslider js -->
        <script src="@routes.Assets.versioned("javascripts/jquery.nivo.slider.pack.js")"></script>        
        <!-- wow js
        ============================================ -->       
        <script src="@routes.Assets.versioned("javascripts/wow.js")"></script>
        <script>
            new WOW().init();
        </script>
        <!-- main js
        ============================================ -->        
        <script src="@routes.Assets.versioned("javascripts/main.js")"></script>


    </body>
</html>
